stages:
  - build
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  FRONTEND_CONTEXT: "apps/frontend-next"
  API_CONTEXT: "apps/api-nest"

build_images:
  stage: build
  image: docker:27
  services:
    - name: docker:dind
      command: ["--tls=false"]

  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
    - if: '$CI_COMMIT_TAG'

  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" "$CI_REGISTRY" --password-stdin
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        export FRONT_TAG="prod"
        export API_TAG="prod"
      else
        export FRONT_TAG="staging"
        export API_TAG="staging"
      fi
      echo "FRONT_TAG=$FRONT_TAG"
      echo "API_TAG=$API_TAG"

  script:
    # FRONTEND: on envoie tout le repo comme contexte (.)
    - >
      docker build
      --file "$FRONTEND_CONTEXT/Dockerfile"
      --tag "$CI_REGISTRY_IMAGE/frontend:$FRONT_TAG"
      .

    # API: idem
    - >
      docker build
      --file "$API_CONTEXT/Dockerfile"
      --tag "$CI_REGISTRY_IMAGE/api:$API_TAG"
      .

    - docker push "$CI_REGISTRY_IMAGE/frontend:$FRONT_TAG"
    - docker push "$CI_REGISTRY_IMAGE/api:$API_TAG"

  needs: []

deploy_staging:
  stage: deploy
  image: alpine:3.20

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H "$VPS_IP" >> ~/.ssh/known_hosts

  script:
    - ssh ms-deploy@"$VPS_IP" "
      cd /srv/mindfulspace/staging &&
      docker compose pull &&
      docker compose up -d --remove-orphans
      "

  needs:
    - build_images

deploy_production:
  stage: deploy
  image: alpine:3.20

  rules:
    - if: '$CI_COMMIT_TAG'

  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H "$VPS_IP" >> ~/.ssh/known_hosts

  script:
    - ssh ms-deploy@"$VPS_IP" "
      cd /srv/mindfulspace/production &&
      docker compose pull &&
      docker compose up -d --remove-orphans
      "

  needs:
    - build_images
